{% extends 'navbar.html' %}
{% block body %}
<div class="logincontainer">
  <h2>Login</h2>
  {% if current_user.is_authenticated %} current user is {{ current_user.name }} {%endif%}
  {% if error%} error: {{error}} {% endif %}
  <link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">
  
  <div class="loginbox">
	  <form action="{{ url_for('login') }}" method=post>
	    <dl>
	      <dt>Username:
	      <dd><input type=text name=username>
	      <dt>Password:
	      <dd><input type=password name=password>
	      <dd><input type=submit value=Login>
	    </dl>
	  </form>
  </div>  
  <p><a href="/reset">Passwort vergessen</a></p>
</div>
{% endblock %}
