{% extends 'navbar.html' %} {% block body %}

<div class="homecontainer">
    <img src="/static/img/logo.png" style="width: 150px; height: 150px; margin: 30px;">
    <h2>Abstimmung {{abstimmung.get('id')}}</h2>

    <p> <strong>Du kannst abstimmen als {{current_user.name}}.</strong> </p>



    <!-- Pretty Form -->
    <style>
        label {
            display: inline-block;
            width: 200px;
            text-align: right;
        }
    </style>

    <div class="homebox">
        <h3>{{abstimmung.get('titel')}}</h3>
        <p>{{abstimmung.get('text')}}</p>
    </div>

    <div class="homebox">
        <h3>Abstimmen</h3>
        {% for person in abstimmung.get('stimmen') %}
        <p><strong>{{person}}</strong>{{abstimmung.get('stimmen')[person]}}</p>
        {% endfor %}
    </div>

</div>

{% endblock %}
