{% extends 'navbar.html' %} {% block body %}
<h2 style="padding:15px;">Mitglied bearbeiten</h2>


<!-- Pretty Form -->
<style>
    label {
        display: inline-block;
        width: 200px;
        text-align: right;
    }
</style>

<div class="container-fluid">

    <div class="row">

        <div class="col homebox">
            <h4>Bisher:</h4>
            </br>
            Mitglied Nr. {{user.id}} </br>
            {% if user.sex == 0%} Herr {% else %} Frau {% endif %} {{user.vorname}} {{user.name}} </br>
            </br>
            Wohnort: </br>
            {{user.strasse}} {{user.hausnummer}} </br>
            {{user.plz}} {{user.ort}} </br>
            </br>
            Kontaktdaten: </br>
            E-Mail: {{user.email}} </br>
            Mobil: {{user.mobil}} </br>
            </br>
            Geburtsdatum: {{geburtsdatum}} </br>
            Mitglied seit: {{erstellungsdatum}}<br />
            Betrag bezahlt bis: {{payed_till}}<br />
            <br />
            TeamSpeak-Berechtigungsschlüssel: <span style="font-size: smaller;">{{user.schluessel}}</span>

            <form action="{{ url_for('confirm_edit') }}" method="post">
              <input name="payed" type="submit" value="Beitrag eingegangen">
            </form>

            <form action="{{ url_for('edit', user_id=user.id) }}" method="post">
              <input name="newkey" type="submit" value="Neuen Schlüssel generieren">
            </form>

            <form action="{{ url_for('confirm_edit') }}" method="post">
                <input name="delete" type="submit" value="Mitglied löschen">
            </form>
            <a href="/send_mail/{{user.id}}">Bestätigungsmail senden</a>

        </div>

        <div class="col homebox">

            <h4>Neu:</h4>
            </br>

            <form action="{{ url_for('confirm_edit') }}" method="post">
                </br>
                <input type="text" name="vorname" placeholder="Vorname"> <input type="text" name="name" placeholder="Nachname"> </br>
                </br>
                </br>
                <input type="text" name="strasse" placeholder="Straße"><input type="text" name="hausnummer" placeholder="Hausnr."> </br>
                <input type="text" name="plz" placeholder="PLZ"><input type="text" name="ort" placeholder="Ort"> </br>
                </br>
                <input type="text" name="email" placeholder="E-Mail"> </br>
                <input type="text" name="mobil" placeholder="Handynummer"> </br>
                </br>
                <select name="rechte">
                  <option value="0" {% if user.rechte == 0 %} selected {% endif %}>Mitglied</option>
                  <option value="1" {% if user.rechte == 1 %} selected {% endif %}>Vorstand</option>
                  <option value="2" {% if user.rechte == 2 %} selected {% endif %}>Mitgliederverwaltung</option>
                </select>
                <input name="aktualisieren" type="submit" value="Aktualisieren">
            </form>

        </div>


    </div>


</div>

<!--  
  <form action="{{ url_for('home') }}" method=post>
    <dl>
      <h5>Passwort ändern</h5>
      <div class="block">
        <label>Altes Passwort:</label>
        <input type=password name=old_password>
      </div>
      <div class="block">
        <label>Neues Passwort: </label> 
        <input type=password name=new_password>
      </div>
      <div class="block">
        <label>Neues Passwort bestätigen: </label>
        <input type=password name=confirm_password>
      </div>
        <dd><input type=submit value=Aktualisieren>
    </dl>
  </form>
  
  <form action="{{ url_for('home') }}" method=post>
    <dl>
      <h5>E-Mail ändern</h5>
      <div class="block">
        <label>Neue E-Mail:</label>
        <input type="text" name=email>
      </div>
      <dd><input type=submit value=Aktualisieren>
    </dl>
  </form>
  -->

{% endblock %}
