{% extends 'navbar.html' %} {% block body %} {% if current_user.is_authenticated %}
<div class="flash">Der aktuelle Benutzer ist {{ current_user.name }}</div> {%endif%} {% if error%}
<div class="flash">Fehler: {{error}}</div> {% endif %}
<div class="logincontainer">

    <h2>Login</h2>

    <div class="loginbox">
	    <form action="{% if next == None %} {{ url_for('login') }} {% else %} {{ url_for('login', next=next) }} {% endif %}" method=post>
            <dl>
                <dt>Benutzername:
	      <dd><input type="text" name="username">
	      <dt>Passwort:
	      <dd><input type="password" name="password">
	      <dd><input type="submit" value="Login">
	    </dl>
	  </form>
  </div>  
  <p><a href="/reset">Passwort vergessen</a></p>
</div>
{% endblock %}
