{% extends 'base.html'%}
{% block nav %}

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" src="../static/css/dygraph.css" />


  <!-- MENU -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="index.html">CSGO ETF</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link active" href="index.html">Home</a>
      </li>
	  
      <li class="nav-item dropdown">
	    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Our assets</a>
	    <div class="dropdown-menu" id="navbardrop">
    		  <a class="dropdown-item" href="Cologne16.html">Cologne 16 Chart</a>
    		  <a class="dropdown-item" href="Cologne16Composition.html">Cologne 16 Composition</a>
                  <div class="dropdown-divider"></div>			
                  <a class="dropdown-item" href="London18.html">London 18 Chart</a>
                  <a class="dropdown-item" href="London18Composition.html">London 18 Composition</a>			
		  <div class="dropdown-divider"></div>			
		  <a class="dropdown-item" href="Berlin19.html">Berlin 19 Chart</a>		
		  <a class="dropdown-item" href="Berlin19Composition.html">Berlin 19 Composition<span class="sr-only">(current)</span></a>
		  <div class="dropdown-divider"></div>
		  <a class="dropdown-item" href="Kato19.html">Katowice 19 Chart</a>
		  <a class="dropdown-item" href="Kato19Composition.html">Katowice 19 Composition</a>
		  <div class="dropdown-divider"></div>
		  <a class="dropdown-item" href="Total.html">Total</a>			
	    </div>
	  </li>
	  
	  <li class="nav-item active">
        <a class="nav-link" href="tradeup.html">Trade Up</a>
      </li>
	  
	  <li class="nav-item">
		<a class="nav-link" href="Arbitrage.html">Arbitrage<span class="sr-only"></span></a>
      </li>
      
	  
    </ul>	
  </div> 
</nav>    
{% endblock %}
