{% extends 'navbar.html' %} {% block body %}
<h2 style="padding:15px;">Neues Mitglied</h2>


<div class="container-fluid">

    <div class="row">

        <div class="col homebox">
            <form action="{{ url_for('confirm_new') }}" method=post id="new">
                <input type="text" name="vorname" placeholder="Vorname" required> <input type="text" name="name" placeholder="Nachname" required> </br>
                </br>
                Geschlecht:
                <select id="sex" name="sex"><option value="0" required>männlich</option><option value="1">weiblich</option></select></br>
                <input type="text" name=strasse placeholder=Straße required><input type="text" name="hausnummer" placeholder="Hausnummer"> </br>
                <input type="text" name="plz" placeholder="PLZ" required><input type="text" name="ort" placeholder="Ort" required> </br>
                </br>
                <input type="text" name="email" placeholder="E-Mail" required> </br>
                <input type="text" name="mobil" placeholder="Mobil"> </br>

                Geburtsdatum: <input type="date" name="geburtsdatum" placeholder="Geburtsdatum" required> </br>
                </br>
                <input name="new" type="submit" value="Absenden">
            </form>
        </div>

        <div class="col homebox centering">
            <form action="/new" method="post">
                <select name="antrags_id" style="margin: 8px;">
                {% for id, antrag in ids_subjects %}
		    <option value={{id}} {% if id == antrags_id %} selected {% endif %} >{{antrag}}</option>
                {% endfor %}
                </select>
                <button name="get_antrag" type="submit">Antrag abrufen</button>
	    </form><br />
            <script>
                function find_data(textfield, element_name) {
                    start = textfield.search(element_name);
                    textfield_substring = textfield.substring(start);
                    length = textfield_substring.search("\n");
                    element_value = textfield.substring(start + element_name.length, start + length);
                    textfield = textfield.substring(start + length + 1);
                    if (start == -1 || length == -1) {
                        return "";
                    } else {
                        return element_value;
                    }
                }

                function fill_fields() {
                    var textfield = document.getElementById("emailtext").value.replace(': \n', ': ');
                    var element_value = find_data(textfield, "Vorname: ");
                    document.getElementsByName("vorname")[0].value = element_value;
                    var element_value = find_data(textfield, "Nachname: ");
                    document.getElementsByName("name")[0].value = element_value;
                    var element_value = find_data(textfield, "E-Mail: ");
                    document.getElementsByName("email")[0].value = element_value;
                    var element_value = find_data(textfield, "Geburtsdatum: ");
                    document.getElementsByName("geburtsdatum")[0].value = element_value;
                    var element_value = find_data(textfield, "Straße: ");
                    document.getElementsByName("strasse")[0].value = element_value.substring(0, element_value.search("[0-9]"));
                    document.getElementsByName("hausnummer")[0].value = element_value.substring(element_value.search("[0-9]"));
                    var element_value = find_data(textfield, "Postleitzahl: ");
                    document.getElementsByName("plz")[0].value = element_value;
                    var element_value = find_data(textfield, "Wohnort: ");
                    document.getElementsByName("ort")[0].value = element_value;
                    var element_value = find_data(textfield, "Telefonnummer: ");
                    document.getElementsByName("mobil")[0].value = element_value;
                }
            </script>
            <textarea style="width: inherit;" id="emailtext" name="emailtext" form="smartfill" cols="50" rows="11" placeholder="Hier gesamte E-Mail für automatische Registrierung kopieren.">{{imap_antrag}}</textarea>
            <br />
            <button type="button" name="do_smartfill" onclick="fill_fields()">Daten übertragen</button>

        </div>
    </div>
</div>

{%endblock%}
