{% extends 'navbar.html' %} {% block body %}
<h2 style="padding:15px;">Neues Mitglied</h2>


<div class="container-fluid">

    <div class="row">

        <div class="col">
            <form action="{{ url_for('confirm_new') }}" method=post id="new">
                </br>
                <input type="text" name="vorname" placeholder="Vorname" required> <input type="text" name="name" placeholder="Nachname" required> </br>
                </br>
                Geschlecht:
                <select id="sex" name="sex"><option value="0" required>männlich</option><option value="1">weiblich</option></select></br>
                <input type="text" name=strasse placeholder=Straße required><input type="text" name="hausnummer" placeholder="Hausnummer"> </br>
                <input type="text" name="plz" placeholder="PLZ" required><input type="text" name="ort" placeholder="Ort" required> </br>
                </br>
                <input type="text" name="email" placeholder="E-Mail" required> </br>
                <input type="text" name="mobil" placeholder="Mobil"> </br>

                Geburtsdatum: <input type="date" name="geburtsdatum" placeholder="Geburtsdatum" required> </br>
                </br>
                <input name="new" type="submit" value="Absenden">
        </div>

        <div class="col homebox centering">
            <script>
                function find_data(textfield, element_name) {
                    start = textfield.search(element_name);
                    textfield_substring = textfield.substring(start);
                    length = textfield_substring.search("\n");
                    return [start, start + length];
                }

                function fill_fields() {
                    var textfield = document.getElementById("emailtext").value;
                    var [start, end] = find_data(textfield, "Vorname: ");
                    print(start);
                    print(end);
                    print(textfield.substring(start, end));
                    document.getElementsByName("vorname").value = textfield.substring(start, end);
                }
            </script>
            <textarea id="emailtext" name="emailtext" form="smartfill" cols="50" rows="11" placeholder="Hier gesamte E-Mail für automatische Registrierung kopieren."></textarea>
            <br />
            <button type="button" name="do_smartfill" onclick="fill_fields()">Absenden</button>

        </div>
    </div>
</div>

{%endblock%}