{% extends 'navbar.html' %} {% block body %}
<h2 style="padding:15px;">Neues Mitglied</h2>


<div class="container-fluid">

    <div class="row">

        <div class="col">
            <form action="{{ url_for('confirm_new') }}" method=post id="new">
                </br>
                <input type="text" name="vorname" placeholder="Vorname" required> <input type="text" name="name" placeholder="Nachname" required> </br>
                </br>
                Geschlecht:
                <select id="sex" name="sex"><option value="0" required>männlich</option><option value="1">weiblich</option></select></br>
                <input type="text" name=strasse placeholder=Straße required><input type="text" name="hausnummer" placeholder="Hausnummer"> </br>
                <input type="text" name="plz" placeholder="PLZ" required><input type="text" name="ort" placeholder="Ort" required> </br>
                </br>
                <input type="text" name="email" placeholder="E-Mail" required> </br>
                <input type="text" name="mobil" placeholder="Mobil"> </br>

                Geburtsdatum: <input type="date" name="geburtsdatum" placeholder="Geburtsdatum" required> </br>
                </br>
                <input name="new" type="submit" value="Absenden">
        </div>

        <div class="col homebox centering">
            <script>
                function fill_fields() {
                    var textfield = document.getElementById(emailtext).value;
                    document.getElementsByName(vorname).value = textfield.substring(0, 3)
                }
            </script>

            <form onsubmit="fill_fields();" id="smartfill">
                </br>
                <textarea id="emailtext" name="emailtext" form="smartfill" cols="50" rows="11" placeholder="Hier gesamte E-Mail für automatische Registrierung kopieren."></textarea>
                </br>
                <input name="do_smartfill" type="submit" value="Absenden">
            </form>

        </div>
    </div>
</div>

{%endblock%}