{% extends 'navbar.html' %} {% block body %} {% if current_user.is_authenticated %}
<div class="flash">Der aktuelle Benutzer ist {{current_user.vorname}} {{current_user.name}}</div> {%endif%} {% if error%}
<div class="flash">Fehler: {{error}}</div> {% endif %}
<div class="logincontainer">
  <img src="/static/img/logo.png" style="width: 150px; height: 150px; margin: 30px;">
  <h2>Passwort zurücksetzen</h2>
  <div class="loginbox">
    <form action="{{ url_for('reset') }}" method="post">
      <dl>
          <dt>E-Mail:
        <dd><input type="text" name="email">
        <dd><input type="submit" value="Passwort zurücksetzen">
      </dl>
    </form>
  </div>  
</div>
{% endblock %}