{% extends 'navbar.html' %} {% block body %}
<h2 style="padding:15px;">Aufnahmemail senden</h2>


<!-- Pretty Form -->
<style>
    label {
        display: inline-block;
        width: 200px;
        text-align: right;
    }
</style>

<div class="container-fluid">

    <div class="row">

        <div class="col">
            <h6>Mitgliedsdaten:</h6>
            </br>
            Mitglied Nr. {{user.id}} </br>
            {% if user.sex == 0%} Herr {% else %} Frau {% endif %} {{user.vorname}} {{user.name}} </br>
            </br>
            Wohnort: </br>
            {{user.strasse}} {{user.hausnummer}} </br>
            {{user.plz}} {{user.ort}} </br>
            </br>
            Kontaktdaten: </br>
            E-Mail: {{user.email}} </br>
            Mobil: {{user.mobil}} </br>
            </br>
            Geburtsdatum: {{geburtsdatum}} </br>
            Mitglied seit: {{erstellungsdatum}}

        </div>

        <div class="col">

            <h6>Mail:</h6>
            </br>
            {{text}}

        </div>


    </div>


</div>

{% endblock %}