.logincontainer {
    text-align: center;
    position: relative;
}

.homecontainer {
    text-align: center;
    position: relative;
}

.loginbox {
    background-color: #fff;
    margin: 5vh;
    border-radius: 10px;
    display: inline-block;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
}

.homebox {
    background-color: #fff;
    margin: 1vw;
    border-radius: 10px;
    display: inline-block;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
}

.loginbox dl,
.homebox dl {
    margin-top: 16px;
    margin-bottom: 16px;
}

.centering {
    text-align: center;
}

textarea#smartreg {
    width: 95%;
    height: 86%;
    padding: 0.1vw;
}
