.logincontainer {
    text-align: center;
    position: relative;
    top: 20vh;
}

.homecontainer {
    text-align: center;
    position: relative;
    top: 10vh;
}

.loginbox {
    background-color: #fff;
    margin: 5vh;
    border-radius: 10px;
    display: inline-block;
    padding: 5vh;
    position: relative;
    text-align: left;
}

.homebox {
    background-color: #fff;
    margin: 1vw;
    border-radius: 10px;
    display: inline-block;
    padding: 5vh;
    position: relative;
    text-align: left;
}

.centering {
    text-align: center;
}

textarea#smartreg {
    width: 95%;
    height: 86%;
    padding: 0.1vw;
}